{% extends 'base.html.twig' %}

{% block title %}Liste des personnages
{% endblock %}

{% block body %}
	{% if app.user %}
		<main>
			<h1>Liste des personnages</h1>

			<a class="character-new" href="{{ path('app_character_new') }}">
				<i class="fa-solid fa-circle-plus"></i>
				Nouveau personnage</a>
			{% for character in app.user.characters %}
				<table class="character-index">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Illustration</th>
							<th>Campagne</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for character in characters %}
							<tr>
								<td class="index-character-name">{{ character.name }}</td>
								<td><img class="index-illustration" src="{{ asset('uploadscharacter/mini/300x300-' ~ character.illustration) }}"/></td>
								<td>{{ character.campaign }}</td>
								<td>
									<a class="index-character-actions" href="{{ path('app_character_show', {'id': character.id}) }}">Voir</a>
									<a class="index-character-actions" href="{{ path('app_character_edit', {'id': character.id}) }}">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="9">Aucun personnage trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
		</main>
	{% endif %}
{% endblock %}
