{% extends 'base.html.twig' %}

{% block title %}Personnage
{% endblock %}

{% block body %}
{% if app.user %}
	<h1>Feuille de personnage</h1>

	<div class="character-links">
		<a class="links-display" href="{{ path('app_character_index') }}">Revenir à l'index</a>

		<a class="links-display" href="{{ path('app_character_edit', {'id': character.id}) }}">Modifier</a>
        <a class="links-display" href="{{ path('app_addons_new') }}">Ajouter des liens externes</a>
	</div>
<div class="character">
	<div class="character-sheet">
		<h3 class="character-name">{{ character.name }}</h3>
		<div class="character-basics"><div class="character-age">• {{ character.age }} •</div>
			<p class="character-text">{{ character.physicalTraits }}</p>
		</div>
		<div class="character-others">
			<p class="character-text">{{ character.others }}</p>
		</div>
		<img class="character-illustration" src="{{ asset('uploadscharacter/' ~ character.illustration) }}"/>
		<div class="character-traits">
			<p class="character-text">{{ character.characterTraits }}</p>
		</div>
		<div class="character-background">
			<p class="character-text">{{ character.background }} </p>
		</div>
	</div>
	{% if character.addons is not null %}
	<div class="character-addons">
	{% if character.addons.playlist is not null %}<a class="addons-links" target="_blank" href="{{ character.addons.playlist }}"><i class="fa-solid fa-music"></i></a>{% endif %}
	{% if character.addons.moodboard is not null %}<a class="addons-links" target="_blank" href="{{ character.addons.moodboard }}"><i class="fa-solid fa-image-portrait"></i></a>{% endif %}
	{% if character.addons.other is not null %}<a class="addons-links" target="_blank" href="{{ character.addons.other }}"><i class="fa-solid fa-book-open"></i></a>{% endif %}
	</div>
	{% endif %}
	</div>

<div class="character-delete">{{ include('character/_delete_form.html.twig') }}</div>
{% endif %}
{% endblock %}
