{% extends 'base.html.twig' %}

{% block title %}Addons{% endblock %}

{% block body %}
    <h1>Addons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ addon.id }}</td>
            </tr>
            <tr>
                <th>Playlist</th>
                <td>{{ addon.playlist }}</td>
            </tr>
            <tr>
                <th>Moodboard</th>
                <td>{{ addon.moodboard }}</td>
            </tr>
            <tr>
                <th>Other</th>
                <td>{{ addon.other }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_addons_index') }}">back to list</a>

    <a href="{{ path('app_addons_edit', {'id': addon.id}) }}">edit</a>

    {{ include('addons/_delete_form.html.twig') }}
{% endblock %}
