{% extends 'base.html.twig' %}

{% block title %}Campagnes
{% endblock %}

{% block body %}
{% if app.user %}
	<main>
		<h1>Campagnes</h1>
		 <section class="welcome-back">
           <p> Bon retour parmi nous, {{ app.user.userIdentifier }} ! Voici tes dernières aventures : </p>
           {# <a href="{{ logout_path() }}">Se déconnecter ?</a> #}
        </section>
		
		<a class="add-campaign" href="{{ path('app_campaign_new') }}">
			<i class="fa-solid fa-circle-plus"></i>
			Nouvelle campagne</a>
		<div class="campaign-display">
			{% for campaign in campaigns %}
				<div class="campaign-card">
					<h3>{{ campaign.title }}</h3>
					<p>{{ campaign.description }}</p>

					<div class="campaign-actions">
						<a href="{{ path('app_campaign_show', {'id': campaign.id}) }}">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="{{ path('app_campaign_edit', {'id': campaign.id}) }}">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						<a href="{{ path('app_share_new')}}">
							<i class="fa-solid fa-share"></i></a>
					</div>
					</div>
				{% else %}
					<p>Aucune campagne trouvée</p>
				{% endfor %}
			</div>
		</main>
		{% endif %}
	{% endblock %}
