{% extends 'base.html.twig' %}

{% block title %}Campagne
{% endblock %}

{% block body %}
{% if app.user %}
	<main>
		<h1>{{ campaign.title }}</h1>


		<h3 class="campaign-description">{{ campaign.description }}</h3>
		<div class="campaign-genres">
			{% for genre in campaign.genres %}
			• {{ genre.keyword }}
			{% endfor %}
		</div>
        <h3 class="campaign-characters">Personnages :</h3>
		<div class="campaign-character-list">
			{% for character in campaign.characters %}
				<div class="campaign-character">{{ character.name }}</div>
			{% endfor %}
		</div>

		<div class="campaign-links">
			<a href="{{ path('app_campaign_index') }}">
				<i class="fa-solid fa-circle-arrow-left"></i>
				Revenir au tableau</a>
			<a href="{{ path('app_character_index') }}">
				<i class="fa-solid fa-user-plus"></i>
				Ajouter un personnage</a>
			<a href="{{ path('app_share_new')}}">
				<i class="fa-solid fa-share"></i>
				Partager</a>
			<a href="{{ path('app_campaign_edit', {'id': campaign.id}) }}">
				<i class="fa-solid fa-pen-to-square"></i>
				Modifier</a>
		</div>

		<div class="delete-btn">{{ include('campaign/_delete_form.html.twig') }}</div>

	</main>
	{% endif %}
{% endblock %}
