{% extends 'base.html.twig' %}

{% block title %}Share{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Share</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ share.id }}</td>
            </tr>
            <tr>
                <th>Shared_by</th>
                <td>{{ share.sharedBy }}</td>
            </tr>
            <tr>
                <th>Date_share</th>
                <td>{{ share.dateShare ? share.dateShare|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ share.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_share_index') }}">back to list</a>

    <a href="{{ path('app_share_edit', {'id': share.id}) }}">edit</a>

    {{ include('share/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
